
  <div class="browse-layout">
    <div class="row">
      <div class="col col-sm-3 browse-card">
        <br>
        <div href="javascript:void(0)" class="catLink" (click)="changeCategory('clothing')">Clothing</div>
        <hr>
        <div href="javascript:void(0)" class="catLink" (click)="changeCategory('electronics')">Electronics</div>
        <hr>
        <div href="javascript:void(0)" class="catLink" (click)="changeCategory('home')">Home</div>
        <hr>
        <div href="javascript:void(0)" class="catLink" (click)="changeCategory('beautyhealth')">Beauty & Health</div>
        <hr>
        <div href="javascript:void(0)" class="catLink" (click)="changeCategory('outdoor')">Outdoor</div>
        <br>
      </div>
      <div class="col col-sm-9">
        
        <div class="row products-row">
          <div class="browse-card product-card row">
            <cl-image class="preview-image" public-id="rmkprdtti46edpoitpt6" cloud-name="goodsnow"  width="125" height="100" crop="fill" gravity="center"></cl-image>
            <div class="col col-sm-6">
              <br>
              <h6><strong>Nikon D7200</strong></h6>
              <hr>
              {{999.99 | currency}}
              <mat-icon class="icon float-right">add_shopping_cart</mat-icon>
            </div>
          </div>
          <div class="browse-card product-card row">
            <cl-image class="preview-image" public-id="m7apym8mwvkfkwidfend" cloud-name="goodsnow"  width="125" height="100" crop="fill" gravity="center"></cl-image>
            <div class="col col-sm-6">
              <br>
              <h6><strong>Fujifilm X100F</strong></h6>
              <hr>
              {{1099.00 | currency}}
              <mat-icon class="icon float-right">add_shopping_cart</mat-icon>
            </div>
          </div>
        </div>

        <ngb-pagination class="float-right" [collectionSize]="products.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" size="sm"></ngb-pagination>
      </div>
    </div>
  </div>
