<ng-container *ngFor="let cartItem of cartItems">
   <div class="browse-card">
    <cl-image class="preview-image" public-id="{{cartItem.cartItemId.item.image}}" cloud-name="goodsnow"  width="125" height="100" crop="fill" gravity="center"></cl-image>
    <div class="col col-sm-6">
      <br>
      <h6><strong>{{cartItem.cartItemId.item.itemName}}</strong></h6>
      <hr>
      {{cartItem.cartItemId.item.itemName | currency}}
      <input class="form-control float-right" type="text" placeholder="{{cartItem.quantity}}">
    </div>
  </div>
</ng-container>