<h1>Shopping Cart</h1>
<ng-container *ngFor="let cartItem of cartItem">
   <div class="item-card row">
    <cl-image class="preview-image" public-id="{{cartItem.cartItemId.item.image}}" cloud-name="goodsnow"  width="150" height="125" crop="fill" gravity="center"></cl-image>
    <div class="col col-sm-6">
      <br>
      <h6><strong>{{cartItem.cartItemId.item.itemName}}</strong></h6>
      <hr>
      {{cartItem.cartItemId.item.price | currency}}
      <span class="float-right"><em>quantity</em><input class="form-control quantity" type="text" placeholder="{{cartItem.quantity}}"></span>
    </div>
  </div>
</ng-container>
<hr>
<strong>Total Price:</strong>{{totalPrice | currency}}