<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="myGroup" ngNativeValidate (ngSubmit)="addShipping()">
      <mat-form-field>
        <input matInput class="form-container" id="address" name="order.address" [formControl]="streetAddress" placeholder="Address"
          required>
      </mat-form-field>
      <mat-form-field>
        <input matInput class="form-container" id="city" name="order.city" [formControl]="city"placeholder="City" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput class="form-container" id="state" name="order.state" [formControl]="state" placeholder="State" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput class="form-container" id="zipcode" name="order.zipcode" [formControl]="zipCode" placeholder="ZipCode"
          required>
      </mat-form-field>
      <br>
      <div *ngIf="isAddressValid()">
      <button type="submit" matStepperNext class="btn btn-primary">Add Shipping Info</button>
    </div>
    </form>
  </mat-step>
  <mat-step>
    <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
    <div *ngIf="!succeeded" id="paypal-checkout-btn"></div>
    <button *ngIf="succeeded" type="submit" matStepperNext class="btn btn-primary">Submit</button>
</mat-step>
<mat-step>
<div *ngIf="succeeded" class="alert alert-success" id="formSuccess">
    Payment received. Thanks for shopping with us!
  </div>
  <div *ngIf="failed" class="alert alert-danger" id="formError">
    Payment failed. Please try again.
  </div>
</mat-step>
  <mat-horizontal-stepper [linear]="true" #stepper></mat-horizontal-stepper>