<br>
<a class="float-right" routerLink="/products/add">add product <mat-icon class="icon">add_circle</mat-icon></a>
<br>
<h1>Store Items</h1>
<hr>
<div class="row">
    <ng-container *ngFor="let item of items">
        <div class="manage-card product-card row">
            <cl-image class="preview-image" public-id="{{item.image}}" cloud-name="goodsnow"  width="125" height="100" crop="fill" gravity="center"></cl-image>
            <div class="col col-sm-6">
                <br>
                <h6><strong>{{item.itemName}}</strong></h6>
                <hr>
                {{item.price | currency}}
                <span class="float-right" style="font-size:0.75em;"><a href="javascript:void(0)">edit <mat-icon class="icon" style="font-size:1em">edit</mat-icon></a></span>
            </div>
        </div>
        <br>
        <a href="javascript:void(0)" (click)="deleteItem(item)"><mat-icon class="icon float-right" style="font-size:1.5em;color:red;">highlight_off</mat-icon></a>
    </ng-container>
</div>