/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* user bar */
.userbar{
    font-size: 0.75em;
    height: 3em;
}
.icon{
    font-size: 1.5em;
    vertical-align: text-top;
}

/* shopping bar */
.checkout-cart{
    margin-right: 1em;
    font-size: 1.75em !important;
}
#checkout-count{
    position: absolute;
    font-size:0.65em;
    text-align: center;
    padding: 0.25em 0.25em 0.25em 0.25em;
    margin-left: 2.75em;
    margin-top: 0.5em;
    background-color: #ACD76B;
    border-radius: 50%;
}

/* general site css */
.container-fluid{
    margin-top: 8em;
    margin-left: 1em !important;
}