<div class="content">
  <button class="btn btn-default" (click)="goBack()">← Back</button><br><br>
  <form ngNativeValidate (ngSubmit)="upload()">
    <mat-form-field>
      <input matInput class="form-container" id="product-name" name="item.itemName" [(ngModel)]="item.itemName" placeholder="Product Name" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea matInput id="product-desc" name="item.description" [(ngModel)]="item.description" placeholder="Description" required></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Price" type="number" class="example-right-align" name="item.price" [(ngModel)]="item.price" step="0.01" required>
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>
    <input type="radio" name="category" value="clothing" [(ngModel)]="item.category" id="clothing" required>
    <label class="form-check-label" for="clothing"> Clothing </label>
    <input type="radio" name="category" value="electronics" [(ngModel)]="item.category" id="electronics" required>
    <label class="form-check-label" for="electronics"> Electronics </label>
    <input type="radio" name="category" value="home" [(ngModel)]="item.category" id="home" required>
    <label class="form-check-label" for="home"> Home </label>
    <input type="radio" name="category" value="beautyhealth" [(ngModel)]="item.category" id="beautyhealth" required>
    <label class="form-check-label" for="beautyhealth"> Beauty & Health </label>
    <input type="radio" name="category" value="outdoor" [(ngModel)]="item.category" id="outdoor" required>
    <label class="form-check-label" for="outdoor"> Outdoor </label>
    <br><br>
    <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera" required>
    <br><br>
    <div *ngIf="!imageIsValid" class="alert alert-danger" id="formError">
      File failed to upload. Please make sure you are uploading an image.
    </div>
    <div *ngIf="!isValid" class="alert alert-danger" id="formError">
      Invalid input(s).
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>